$primary-color: #ffcc66;
$secondary-color: #da5d4f;
$white-color: #ffffff;
$black-color: #000000;
$default-font-family: avenir,
Verdana,
Geneva,
sans-serif;
$curly-font: 'black-jack';
$default-font-size: 18px;
$font-path: '../fonts';
$img-path: '../images';