.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin-bottom: 20px;
    background: #fefff9;
    color: #363636; //the whole content of the card becomes linked, so this will give the text a "norma;" appearance
    text-decoration: none;
    transition: all ease-in-out .3s;
    &:hover {
        transform: translateY(-5px);
    }
    @media (max-width: 768px) {
        width: 100%;
    }
    @media(min-width:768px) and (max-width:992px) {
        width: 46%;
        margin-right: 3%;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    @media(min-width:992px) {
        //switch to 2 columns
        width: 31%;
        margin-right: 3.5%;
        margin-bottom: 0;
        //switch to 3 columns
        &:nth-child(even) {
            margin-right: 3.5%;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    &.card--red {
        background: $secondary-color;
    }
    &.card--yellow {
        background: $primary-color;
    }
    &.card--white {
        background: $white-color;
    }
    &.card--full {
        max-width: 938px;
        width: 100%;
    }
    .card__inner {
        padding: 30px 10px 30px 10px;
        line-height: 120%;
        &.card__inner--btn-bottom {
            padding-bottom: 70px;
        }
    }
    &.card--full {
        margin-right: 0;
        .card__inner {
            padding-bottom: 30px;
        }
        .left {
            margin-bottom: 20px;
            @media(min-width: 768px) {
                float: left;
                width: 60%;
                margin-bottom: 0;
            }
        }
        .right {
            @media(min-width: 768px) {
                margin-top: 40px;
                float: left;
                width: 40%;
            }
        }
    }
}