html,
body {
    background: url('../images/background-pattern.jpg') left top;
    background-attachment: fixed;
    background-repeat: repeat-y;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font: normal $default-font-size $default-font-family;
    color: $black-color;
    @media(min-width: 768px) {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

nav ul,
nav ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

a {
    color: $secondary-color;
    transition: .2s all ease-in-out;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        transition: .2s all ease-in-out;
        color: lighten($secondary-color, 10%);
    }
}

//fadein images
img {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icon-block {
    width: 37px;
    height: 42px;
    display: inline-block;
    transition: all .1s ease-in;
    vertical-align: middle;
}

.center-block {
    margin: auto;
}

.icon-belt {
    display: block;
    text-align: center;
    padding: 0;
    margin: 30px 0 0;
    list-style-type: none;
    li {
        width: 50px;
        height: 50px;
        display: inline-block;
        background: $secondary-color;
        border-radius: 50%;
        margin: 0 8px;
        transition: all ease-in-out .3s;
        &:hover {
            background: $white-color;
            a {
                color: $secondary-color;
            }
        }
    }
    a {
        display: block;
        color: $primary-color;
        font-size: 30px;
        padding-top: 7px;
    }
}

.equal-cols {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
    @media(min-width: 768px) {
        margin-bottom: 0;
        &.third {
            width: 32%;
        }
    }
}

.hamburg-menu {
    width: 35px;
    height: 35px;
    float: left;
    position: relative;
    margin: 12px 20px 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburg-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $white-color;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburg-menu span:nth-child(1) {
    top: 0px;
}

.hamburg-menu span:nth-child(2) {
    top: 12px;
}

.hamburg-menu span:nth-child(3) {
    top: 24px;
}

.content-area {
    overflow: hidden;
    padding: 50px 0;
}